body {
    background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20200307064735-WD10copy.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: cursive;
    font-size: 21px;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 400px;
}

.panic-button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.panic-button i {
    margin-right: 10px;
}
